@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans.woff2") format("woff2");
    src: url("../fonts/ptsans.woff2") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsansbold.woff2") format("woff2");
    src: url("../fonts/ptsansbold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-light: #f2f2f2;
    --basic-gray: #e5e5e5;
    --basic-dark: #333333;
    --basic-black: #000000;

    --special-cold-light: #83B3D3;
    --special-cold-dark: #68A2CA;
    --special-cold-light20: rgba(131, 179, 211, 0.2);
    --special-cold-light12: rgba(131, 179, 211, 0.12);

    --special-warm-light: #756257;
    --special-warm-dark: #615048;

    --special-neutral-light: #7DB54F;
    --special-neutral-dark: #6C9E42;

    --status-error: #FF5757;
    --status-warning: #FD922E;
    --status-success: #7DB550;
}

html {
    background-color: var(--basic-white);
    height: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    width: 1200px;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-dark);
    background-color: var(--basic-white);
    box-shadow: 0 0 15px 15px var(--basic-gray);
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Хэдер */

.page-header {
    color: var(--basic-black);
    background: var(--basic-white);
}

/* Навигация */

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.navigation-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 51px;
    width: calc(100% / 2 - 138px);
    align-self: center;
    align-items: center;
    min-height: 50px;
}

.navigation-item {
    padding-top: 18px;
    padding-left: 9px;
    padding-bottom: 21px;
}

.navigation-item:hover,
.nav-user-item:hover {
    color: var(--special-warm-light);
    fill: var(--special-warm-light);
}

.navigation-item:focus,
.nav-user-item:focus {
    color: var(--special-warm-light);
    fill: var(--special-warm-light);
    border: 3px var(--special-cold-light) solid;
    border-radius: 10px;
}

.navigation-item:active,
.nav-user-item:active {
    color: rgba(117, 98, 87, 0.3);
    fill: rgba(117, 98, 87, 0.3);
}

.navigation-logo {
    position: absolute;
    right: 531px;
    z-index: 1;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: calc(100% / 2 - 138px);
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-user-item {
    padding-right: 21px;
}

.navigation-link {
    position: relative;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    text-transform: none;
    padding: 6px 12px;
}

.current-page::before {
    position: absolute;
    top: 52px;
    padding-right: 70px;
    height: 2px;
    background-color: var(--special-warm-light);
    content: "";
}

.current-catalog::before {
    position: absolute;
    top: 51px;
    padding-right: 93px;
    border-bottom: 2px var(--special-warm-light) solid;
    content: "";
}

.heart {
    display: flex;
    align-self: center;
    position: relative;
}

.icon-heart {
    position: relative;
    right: 2px;
    bottom: 1px;
}

.icon-search {
    position: relative;
    left: 3px;
    top: 2px;
}

.heart-num {
    position: absolute;
    bottom: 8px;
    left: 9px;
}

.navigation-btn {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-right: 72px;
}

/* Кнопка ХОЧУ СЮДА */

.button-wont {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    border: none;
    min-width: 160px;
    min-height: 37px;
    text-align: center;
    background-color: var(--special-warm-light);
    color: var(--basic-white);
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.button-wont:hover {
    background: var(--special-warm-dark);
}

.button-wont:focus {
    background: var(--special-warm-dark);
    border: 3px var(--special-cold-light) solid;
    border-radius: inherit;
}

.button-wont:active {
    background: var(--special-warm-dark);
    color: rgba(255, 255, 255, 0.3);
}


/* Первый экран */

.hero {
    background: url("../img/index-background.jpg") no-repeat center / cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: url("../img/hero-dec-element.svg");
    position: absolute;
    left: 0;
    top: 429px;
}

.hero img {
    margin: 51px auto 83px;
    right: 0;
    bottom: -57px;
}

.promo {
    background-color: var(--basic-white);
    margin-top: 63px;
    margin-bottom: 79px;
}

.promo-title {
    text-align: center;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
}

.promo-desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    text-transform: none;
}

/* Преимущества */

.features-list {
    list-style: none;
    display: grid;
    grid-template-areas:
            '1fr 2fr'
            '1fr 1fr 1fr'
            '2fr 1fr'
            '1fr 1fr 1fr';
    gap: 0;
    margin: 0;
    padding: 0;
}

.features-item {
    display: grid;
    background-color: var(--special-cold-light);
    color: var(--basic-white);
    text-align: center;
    padding: 89px 75px 79px;
    gap: 24px;

    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    font-weight: 400;
}

.features-item svg {
    display: inline-block;
    margin: 0 auto;
}

.features-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.features-desc {
    padding: 0;
    margin: 0;
}

.features-item:nth-child(3),
.features-item:nth-child(5),
.features-item:nth-child(8),
.features-item:last-child {
    background-color: var(--special-cold-light12);
    color: var(--basic-black);
    width: 400px;
    height: 384px;
}

.features-item:nth-child(4) {
    background-color: var(--basic-white);
    color: var(--basic-black);
    width: 400px;
    height: 384px;
}

.features-item:nth-child(9) {
    background-color: var(--special-cold-light20);
    color: var(--basic-black);
    width: 400px;
    height: 384px;
}

.features-item:first-child {
    grid-area: 1/1/2/2;
}

.features-item:nth-child(2) {
    grid-area: 1/2/2/4;
    background: url("../img/photo-1.jpg") no-repeat center / cover;
}

.features-item:nth-child(3) {
    grid-area: 2/1/3/2;
}

.features-item:nth-child(4) {
    grid-area: 2/2/3/3;
}

.features-item:nth-child(5) {
    grid-area: 2/3/3/4;
}

.features-item:nth-child(6) {
    grid-area: 3/1/4/3;
    background: url("../img/photo-2.jpg") no-repeat center / cover;
}

.features-item:nth-child(7) {
    grid-area: 3/3/4/4;
}

.features-item:nth-child(8) {
    grid-area: 4/1/5/2;
}

.features-item:nth-child(9) {
    grid-area: 4/2/5/3;
}

.features-item:last-child {
    grid-area: 4/3/5/4;
}

/* Поиск гостиницы */

.search-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 20px;
}

.search-desc {
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.btn-search {
    display: inline-block;
    margin: 73px 313px 91px 312px;
    width: 575px;
    height: 60px;
    background-color: var(--special-warm-light);
    color: var(--basic-white);
    font-size: 20px;
    line-height: 36px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.btn-search:hover {
    background-color: var(--special-warm-dark);
}

.btn-search:focus {
    background: var(--special-warm-dark);
    border: 3px var(--special-cold-light) solid;
    border-radius: inherit;
}

.btn-search:active {
    background: var(--special-warm-dark);
    color: rgba(255, 255, 255, 0.3);
}

/* ПОДПИСКА НА РАССЫЛКУ */

.subscription {
    background: url("../img/background.jpg") no-repeat center / cover;
    padding: 94px 200px;
    color: var(--basic-white);
}

.sub-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.sub-desc {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: none;
    font-weight: 400;
}

.sub-form {
    padding-top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

/* Форма для заполнения почты */
.email-label {
    display: inline-block;
    background-color: var(--basic-light);
    font-size: 18px;
    line-height: 26px;
    border: none;
    font-weight: normal;
    text-transform: none;
    width: 600px;
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.email-label:hover {
    background: var(--basic-gray);
}

.email-label:focus {
    background: var(--basic-gray);
    border: 3px var(--special-cold-light) solid;
    border-radius: inherit;
}

.email-label:active {
    background: var(--basic-white);
    border: 2px var(--basic-black) solid;
    border-radius: inherit;
}

.email-label:invalid {
    background: var(--basic-white);
    border: 2px var(--status-error) solid;
    border-radius: inherit;
}

input[placeholder] {
    padding: 20px;
}

/* Кнопка подписаться на рассылку */

.sub-btn {
    display: inline-block;
    background-color: var(--special-cold-light);
    border: none;
    width: 200px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.sub-btn:hover {
    background: var(--special-cold-dark);
}

.sub-btn:focus {
    background: var(--special-cold-dark);
    border: 3px var(--special-warm-light) solid;
    border-radius: inherit;
}

.sub-btn:active {
    background: var(--special-cold-dark);
    color: rgba(255, 255, 255, 0.3);
}

/* ФУТЕР */

.page-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 72px 30px;
    margin: 0;
}

/* Иконки соц сетей */

.socials-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-link {
    display: flex;
    padding: 12px;
}

.socials-item:hover {
    fill: var(--special-cold-dark);
}

.socials-item:focus {
    fill: var(--special-cold-dark);
    border: 3px solid var(--special-cold-dark);
    border-radius: 10px;
    outline: none;
}

.socials-item:active {
    fill: var(--special-cold-dark);
    opacity: 30%;
}

/* Телефон */
.footer-contacts {
    display: block;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 6px;
}

.footer-contacts:hover {
    color: var(--special-warm-light);
}

.footer-contacts:focus {
    color: var(--special-warm-light);
    border: 3px solid var(--special-cold-light);
    border-radius: 10px;
    padding: 15px;
    outline: none;
}

.footer-contacts:active {
    color: var(--special-warm-light);
    opacity: 30%;
}

/* Copyright */

.copyright {
    display: block;
}

.copyright:hover {
    fill: var(--special-warm-light);
}

.copyright:focus {
    fill: var(--special-warm-light);
    border: 3px solid var(--special-cold-light);
    border-radius: 10px;
    padding: 15px;
    outline: none;
}

.copyright:active {
    color: var(--special-warm-light);
    border: none;
    opacity: 30%;
}


/* КАТАЛОГ */

/* Фильтр каталога - первый экран */

.filter {
    background: url("../img/catalog-background.jpg") no-repeat center / cover;
    padding: 35px 72px 83px 72px;
    color: var(--basic-white);
    font-weight: 400;
    text-transform: none;
}

.filter-title {
    color: var(--basic-white);
    font-size: 60px;
    line-height: 78px;
    padding: 0;
    margin: 35px 0 5px;
}

.breadcrumbs {
    display: flex;
    gap: 10px;
    position: relative;
    left: 30px;
    margin-bottom: 40px;
}

.bread-icon {
    position: relative;
    left: -20px;
}

.breadcrumbs-link {
    color: var(--basic-white);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    outline: none;
    padding: 1px 8px;
}

.filter-subtitle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.filter-list {
    display: grid;
    gap: 13px;
    padding: 20px 0;
}

.filter-form {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin: 0;
}

.control-label {
    line-height: 20px;
    font-weight: 400;
}

/* Чекбоксы и радиокнопки */

.radio,
.check {
    padding-left: 39px;
    cursor: pointer;
}

.check_input,
.radio_input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check_input:checked + .check_box {
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.check_box {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: var(--basic-white);
    margin-left: -39px;
}

.radio_input:checked + .radio_btn {
    background-image: url("../img/radio.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.radio_btn {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--basic-white);
    margin-left: -39px;
}

/* Стоимость - ранжирование по цене */

.range-scale {
    margin-top: 28px;
    width: 287px;
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.range-bar {
    width: 227px;
    position: absolute;
    height: 4px;
    background-color: var(--basic-white);
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--basic-white);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:hover {
    background-color: var(--basic-white);
}

.range-toggle:active,
.range-toggle:focus-visible {
    outline: 3px var(--special-cold-light) solid;
}

.toggle-min {
    top: -8px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.filter-group {
    margin: 0;
    padding: 0;
    border: none;
}

.range {
    margin-top: 35px;
    width: 287px;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
}

.catalog-filter-label {
    position: relative;
    margin: 0;
    padding: 0;
}

.range-wrapper-inputs {
    padding: 0;
    margin: 0;
}

.range-input {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: var(--basic-white);
    border: 2px var(--basic-white) solid;
    background-color: transparent;
    width: calc(287px / 2);
    height: 48px;
}

.left-input {
    border-radius: 4px 0 0 4px;
}

.left-input:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.right-input {
    border-radius: 0 4px 4px 0;
}
.right-input:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus-visible {
    border-color: var(--basic-white);
    outline: 3px solid #81B3D2;
    box-shadow: inset 0 0 0 3px #81B3D2;
    z-index: 1;
}

.range-input:active {
    background: #756257;
    outline: none;
    box-shadow: none;
}

.input-left::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 23px;
    top: 11px;
    left: 112px;
    color: rgba(255, 255, 255, 0.6);
}

.input-right::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 24px;
    top: 11px;
    left: 108px;
    color: rgba(255, 255, 255, 0.6);
}

.right-wrapper {
    margin-left: -2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Кнопки фильтра */

.button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 17px;
    margin-bottom: 7px;
}

.filter-btn-submit {
    width: 160px;
    height: 48px;
    background: var(--special-cold-light);
    color: var(--basic-white);
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    border: none;
}

.filter-btn-button {
    width: 160px;
    height: 23px;
    background: none;
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    vertical-align: center;
    border: none;
}

/* Сортировка гостиниц после фильтрации */


.sorting {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.sorting-title {
    font-size: 30px;
    line-height: 39px;
}

.sort-filter {
    width: 287px;
    height: 48px;
    border: var(--basic-gray) 3px solid;
    border-radius: 4px;
    margin-left: 192px;
}

.sorting-type {
    margin-left: 118px;
    display: flex;
    align-items: center;
}

.select-control {
    font-weight: 400;
    border: 2px var(--basic-gray) solid;
    border-radius: 4px;
    width: 287px;
    height: 48px;
    font-size: 18px;
    line-height: 23px;
    padding-left: 15px;
    padding-bottom: 2px;
    background: url("../img/drop.svg") no-repeat right 19px center;
    appearance: none;
}

.select-control:hover {
    border: 2px var(--special-cold-light) solid;
}

.select-control:focus {
    border: 2px var(--special-cold-light) solid;
    outline: none;
}

.select-control:active {
    color: rgba(51, 51, 51, 0.3);
    border: 2px var(--basic-gray) solid;
}

/* Гостиниц на странице: */

.sorting-control {
    padding-left: 15px;
    width: 160px;
    height: 48px;
    border: 2px var(--basic-gray) solid;
    border-radius: 4px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    background-image: url("../img/drop.svg");
    background-repeat: no-repeat;
    background-position: right 19px center;
    appearance: none;
    margin: 5px;
}

.sorting-control:hover {
    border: 2px var(--special-cold-light) solid;
}

.sorting-control:focus {
    border: 2px var(--special-cold-light) solid;
    outline: none;
}

.sorting-control:active {
    color: rgba(51, 51, 51, 0.3);
    border-color: transparent;
}

/* отображение гостиниц на сайте */

.card-info {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    padding-left: 18px;
}

.cards-filter {
    display: flex;
}

.card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
}

.card-grid-toggle:hover {
    border-color: var(--special-cold-light);
}

.card-grid-toggle:focus-visible {
    border-color: var(--special-cold-light);
    outline: none;
}

.card-grid-toggle:active {
    border-color: var(--basic-black);
}

.toggle-current {
    border-color: var(--basic-black);
}

/* СПИСОК ГОСТИНИЦ после сортировки и фильтрации */

/* Карточка гостиницы */

.catalog-item {
    display: flex;
    justify-content: space-between;
    padding: 30px 72px;
    position: relative;
}

.catalog-item::before {
    content: url("../img/divider.svg");
    position: absolute;
    top: -15px;
}

.catalog-item:last-child::after {
    content: url("../img/divider.svg");
    position: absolute;
    bottom: -8px;
}

.hotel-title {
    font-size: 24px;
    line-height: 31px;
    margin: 0;
    text-transform: none;
}

.hotel-title:hover {
    color: var(--special-warm-light);
}

.hotel-title:focus {
    color: var(--special-warm-light);
    border: 3px var(--special-cold-light) solid;
    border-radius: 4px;
}

.hotel-title:active {
    color: rgba(117, 98, 87, 0.3);
}

/* изображение гостиницы */


.hotel-img:hover {
    opacity: 60%;
}

.hotel-img:focus {
    border: 3px var(--special-cold-light) solid;
}

.hotel-img:active {
    opacity: 30%;
}

.container-hotel {
    display: grid;
    align-content: space-between;
    position: relative;
    right: 150px;
}

.hotel-desc {
    display: flex;
    justify-content: stretch;
    align-items: center;
    column-gap: 78px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
}

.hotel-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

/* кнопка ПОДРОБНЕЕ */

.more-btn {
    width: 151px;
    height: 37px;
    background: var(--special-warm-light);
    color: var(--basic-white);
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.more-btn:hover {
    background: var(--special-warm-dark);
}

.more-btn:focus {
    background: var(--special-warm-dark);
    border: 3px var(--special-cold-light) solid;
    border-radius: inherit;
}

.more-btn:active {
    background: var(--special-warm-dark);
    color: rgba(255, 255, 255, 0.3);
}

/* кнопка В ИЗБРАННОЕ */

.fav-btn {
    width: 160px;
    height: 37px;
    background: var(--special-cold-light);
    color: var(--basic-white);
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.fav-btn:hover {
    background: var(--special-cold-dark);
}

.fav-btn:focus {
    background: var(--special-cold-dark);
    border: 3px var(--special-warm-light) solid;
    border-radius: inherit;
}

.fav-btn:active {
    background: var(--special-cold-dark);
    color: rgba(255, 255, 255, 0.3);
}

.fav-btn-checked {
    background: var(--special-neutral-light);
}

.fav-btn-checked:hover {
    background: var(--special-neutral-dark);
}

.fav-btn-checked:focus {
    background: var(--special-neutral-dark);
    border: 3px var(--special-warm-light) solid;
    border-radius: inherit;
}

.fav-btn-checked:active {
    background: var(--special-neutral-dark);
    color: rgba(255, 255, 255, 0.3);
}

/* рейтинг */

.rating-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: inline-block;
    width: 160px;
    height: 37px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    background-color: var(--basic-light);
    text-align: center;
    padding: 8px;
    border-radius: 4px;
}

/* Кнопка - ЗАГРУЗИТЬ ЕЩЕ */

.button-load {
    display: inline-block;
    color: var(--basic-white);
    background-color: var(--special-cold-light);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    width: 625px;
    height: 55px;
    cursor: pointer;
    margin: 31px 287px 30px 286px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-load:hover {
    background: var(--special-cold-dark);
}

.button-load:focus {
    background: var(--special-cold-dark);
    border: 3px var(--special-warm-light) solid;
    outline: none;
}

.button-load:active {
    color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
}

/* Пагинация */

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 60px 72px 30px;
}

.pagination-list {
    display: flex;
    gap: 8px;
}

.pagination-item {
    width: 55px;
    height: 55px;
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    background: var(--special-cold-light);
}

.pagination-link:not(.pagination-current) {
    color: var(--basic-white);
    font-size: 20px;
    line-height: 26px;
}

.pagination-item:hover {
    background: var(--special-cold-dark);
    color: var(--basic-white);
}

.pagination-item:focus {
    border: 3px var(--special-warm-light) solid;
    border-radius: 4px;
    color: var(--basic-white);
}

.pagination-item:active {
    background: var(--special-cold-dark);
    color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
    background: var(--basic-gray);
    color: var(--basic-black);
}

.pag-nav {
    display: flex;
    align-items: center;
    gap: 51px;
}

.pagination-nav {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
}

.pagination-btn {
    width: 160px;
    height: 48px;
    border: var(--basic-gray) 3px solid;
    border-radius: 4px;
    cursor: pointer;
}

.page-card-sorting {
    font-size: 18px;
    line-height: 23px;
    text-transform: none;
    font-weight: 400;
    padding-left: 292px;
}

/* Подписка на рассылку - в каталоге */

.catalog-subscription {
    background: var(--basic-white);
    padding: 94px 200px;
    color: var(--basic-black);
}