@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans.woff2") format("woff2");
    src: url("../fonts/ptsans.woff2") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsansbold.woff2") format("woff2");
    src: url("../fonts/ptsansbold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-light: #f2f2f2;
    --basic-gray: #e5e5e5;
    --basic-dark: #333333;
    --basic-black: #000000;

    --special-cold-light: #83B3D3;
    --special-warm-light: #756257;

    --special-cold-dark: #68A2CA;
    --special-warm-dark: #615048;
}

html {
    background-color: var(--basic-white);
    height: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    width: 1200px;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-dark);
    background-color: var(--basic-white);
    box-shadow: 0 0 15px 15px var(--basic-gray);
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

fieldset {
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Хэдер */

.page-header {
    color: #000000;
    background: #FFFFFF;
}

/* Навигация */

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 51px;
    width: calc(100% / 2 - 138px);
    align-self: center;
    align-items: center;
    min-height: 50px;
}

.navigation-item {
    padding-top: 18px;
    padding-left: 9px;
    padding-bottom: 21px;
}

.navigation-logo {
    height: 65px;
    display: flex;
    position: relative;
    right: 25px;
    z-index: 1;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: calc(100% / 2 - 138px);
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    align-self: center;
    list-style: none;
}

.nav-user-item {
    padding-right: 21px;
}

.navigation-link {
    position: relative;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    text-transform: none;
    padding: 6px 12px;
}

.current-page::before {
    position: absolute;
    top: 52px;
    padding-right: 70px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.heart {
    display: flex;
    align-self: center;
    position: relative;
}

.icon-heart {
    position: relative;
}

.heart-num {
    position: absolute;
    bottom: 8px;
    left: 12px;
}

.navigation-btn {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-right: 72px;
}

.button-wont {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    border: none;
    min-width: 160px;
    min-height: 37px;
    text-align: center;
    background-color: var(--special-warm-light);
    color: var(--basic-white);
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

/* Первый экран */

.hero {
    background: url("../img/index-background.jpg") no-repeat center / cover;
    display: flex;
    justify-content: center;
}

.hero img {
    margin: 51px auto 83px;
}

.promo {
    background-color: var(--basic-white);
    margin-top: 63px;
    margin-bottom: 79px;
}

.promo-title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.promo-desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    text-transform: none;
}

/* Преимущества */

.features-list {
    list-style: none;
    display: grid;
    grid-template-areas:
            '1fr 2fr'
            '1fr 1fr 1fr'
            '2fr 1fr'
            '1fr 1fr 1fr';
    gap: 0;
    margin: 0;
    padding: 0;
}

.features-item {
    display: grid;
    background-color: var(--special-cold-light);
    color: var(--basic-white);
    text-align: center;
    padding: 89px 75px 79px;
    gap: 24px;

    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    font-weight: 400;
}

.features-item svg {
    display: inline-block;
    margin: 0 auto;
}

.features-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.features-desc {
    padding: 0;
    margin: 0;
}

.features-item:nth-child(3),
.features-item:nth-child(5),
.features-item:nth-child(8),
.features-item:last-child {
    background-color: rgba(131, 179, 211, 0.12);
    color: var(--basic-black)
}

.features-item:nth-child(4) {
    background-color: var(--basic-white);
    color: var(--basic-black)
}

.features-item:nth-child(9) {
    background-color: rgba(131, 179, 211, 0.2);
    color: var(--basic-black)
}

.features-item:first-child {
    grid-area: 1/1/2/2;
}

.features-item:nth-child(2) {
    grid-area: 1/2/2/4;
    background: url("../img/photo-1.jpg") no-repeat center / cover;
}

.features-item:nth-child(3) {
    grid-area: 2/1/3/2;
}

.features-item:nth-child(4) {
    grid-area: 2/2/3/3;
}

.features-item:nth-child(5) {
    grid-area: 2/3/3/4;
}

.features-item:nth-child(6) {
    grid-area: 3/1/4/3;
    background: url("../img/photo-2.jpg") no-repeat center / cover;
}

.features-item:nth-child(7) {
    grid-area: 3/3/4/4;
}

.features-item:nth-child(8) {
    grid-area: 4/1/5/2;
}

.features-item:nth-child(9) {
    grid-area: 4/2/5/3;
}

.features-item:last-child {
    grid-area: 4/3/5/4;
}

/* Поиск гостиницы */

.search-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 20px;
}

.search-desc {
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.btn-search {
    display: inline-block;
    margin: 73px 313px 91px 312px;
    width: 575px;
    height: 60px;
    background-color: var(--special-warm-light);
    color: var(--basic-white);
    font-size: 20px;
    line-height: 36px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

/* Подписка на рассылку */

.subscription {
    background: url("../img/background.jpg") no-repeat center / cover;
    padding: 94px 200px;
    color: var(--basic-white);
}

.sub-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.sub-desc {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: none;
    font-weight: 400;
}

.sub-form {
    padding-top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.sub-btn {
    display: inline-block;
    background-color: var(--special-cold-light);
    border: none;
    width: 200px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.email-label {
    display: inline-block;
    background-color: var(--basic-light);
    font-size: 18px;
    line-height: 26px;
    border: none;
    font-weight: normal;
    text-transform: none;
    width: 600px;
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input[placeholder] {
    padding: 20px;
}

/* Футер */

.page-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 72px 30px;
    margin: 0;
}

/* Иконки соц сетей */

.socials-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-link {
    display: flex;
    padding: 12px;
}

.socials-link:hover {
    fill: var(--special-cold-dark);
}

.socials-link:focus {
    fill: var(--special-cold-dark);
    border: 3px solid var(--special-cold-dark);
    border-radius: 10px;
    outline: none;
}

.socials-link:active {
    fill: var(--special-cold-dark);
    opacity: 30%;
}

/* Телефон */
.footer-contacts {
    display: block;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 6px;
}

.footer-contacts:hover {
    color: var(--special-warm-light);
}

.footer-contacts:focus {
    color: var(--special-warm-light);
    border: 3px solid var(--special-cold-light);
    border-radius: 10px;
    padding: 15px;
    outline: none;
}

.footer-contacts:active {
    color: var(--special-warm-light);
    opacity: 30%;
}

/* Copyright */

.copyright {
    display: block;
}

.copyright:hover {
    fill: var(--special-warm-light);
}

.copyright:focus {
    fill: var(--special-warm-light);
    border: 3px solid var(--special-cold-light);
    border-radius: 10px;
    padding: 15px;
    outline: none;
}

.copyright:active {
    color: var(--special-warm-light);
    border: none;
    opacity: 30%;
}
